.Body{
    margin: 2em auto;
    width: 30%;
    text-align: center;
    background-color: aquamarine;
    border-radius: 1em;
    padding: 1em;
}
legend{
    text-align: left;
}
fieldset{
    border-radius: 1em;
    height: 30em ;
}
.chattingarea{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    &>div{
        width: 3em;
        & p{
            background-color: brown;
        }
    }
}